<template>
    <div>
        <h2>Add Todo</h2>
        <form @submit.prevent="addTodo">
            <div class="form-group">
                <label htmlFor="todo">To Do:</label>
                <input type="text" class="form-control" v-model="newTodo" name="newTodo" id="newTodo" />
            </div><br>
            <button type="button" @click='createToDO()' class="btn btn-warning">Add</button>
        </form>
    </div>
</template>
<script>
export default {
    name: 'CreateToDO',
    data() {
    return {
      newTodo: ''
    }
  },
    methods: {
        createToDO() {
         console.log(this.firstName)
          const payload = {
            text: this.newTodo,
            done: false,
          }
          this.$emit('createToDO', payload)
          this.clearForm();
        },
        clearForm() {
          this.newTodo = "";
      }
    }
}
</script>