<template>
  <div class="hello">
    <Header />
    <div class="container mrgnbtm">
      <div class="row">
        <div class="col-md-6">
          <CreateToDO @createToDO="createToDO($event)" />
        </div>
        <div class="todo col-md-6">
          <ToDo @removeToDo="removeToDo($event)" @doneRandA="doneRandA($event)" :todor="todor" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Header from './Header.vue'
import ToDo from './ToDO.vue'
import CreateToDO from './CreateToDo.vue'
import { getAllToDos, createToDO, removeToDo, doneRandA } from '../services/UserService'

export default {
  name: 'Dashboard', /* eslint-disable */
  components: {
    Header,
    ToDo,
    CreateToDO
  },
  data() {
      return {
          todor: [],
      }
  },
  methods: {
    getAllToDos() {
      getAllToDos().then(response => {
        console.log(response)
        this.todor = response
        
      })
    },
    createToDO(data) {
      console.log('data:::', data)
      createToDO(data).then(response => {
        console.log(response);
        this.getAllToDos();
      });
    },
    removeToDo(todor){
      console.log('data:::', todor)
      removeToDo(todor).then(response => {
        console.log(response);
        this.getAllToDos();
      });
    },
    doneRandA(todor){
      console.log('data:::', todor)
      doneRandA(todor).then(response => {
        console.log(response);
        this.getAllToDos();
      });
    }

  },
  mounted () {
    this.getAllToDos();
  }
}
</script>