<template>
    <div class="header">
        <img src="TesseractLogo.png" alt="logo">
    </div>
</template>

<script>
/* eslint-disable */
    export default {
        name: 'Header'
    } 
</script>
<style>
.header {
    margin-bottom: 75px;
}
img {
    width: 75px;
    height: 75px;
}
</style>