<template>
      <table class="table table1">
        <tr v-for="todo in todor" :key="todo.id"><br>
          <input type="checkbox" @click="doneRandA(todo)" v-model="todo.done">
          <span :class="{ done: todo.done }">{{ todo.text }}</span> |
          <button type="button" class="btn btn-danger" @click="removeToDo(todo)">X</button>
        </tr>
      </table>
</template>
<script>

export default {
    name: 'ToDo',
    props: ['todor'],
   
    methods: {
        removeToDo(todo) {
          const payload = {
            id: todo.id,
            text: todo.text,
            done: todo.done,
          }
          console.log(payload);
          this.$emit('removeToDo', payload);
        },
        doneRandA(todo){
          let sdone;
          if (todo.done == false){
             sdone = true;
          }else{
             sdone = false;
          }
          const payload = {
            id: todo.id,
            text: todo.text,
            done: sdone,
          }
          console.log(payload);
          this.$emit('doneRandA', payload);
        },
    },

    // data() {
    //     return {
    //     newTodo: '',
    //     hideCompleted: false,
    //     todos: [
    //         { id: 1, text: 'Learn HTML', done: true },
    //         { id: 2, text: 'Learn JavaScript', done: true },
    //         { id: 3, text: 'Learn Vue', done: false }
    //     ]
    //     }
    // },
}
</script>

<style>
.done {
  text-decoration: line-through;
}
.table1 {
  border-collapse: separate !important;
}
</style>